/* $Id: style.css,v 0.0.0.1 07/06/2006 02:02:07 mdb Exp $
 * $Author: mdb $
 *
 * www.be-you.org Stylesheet "default"
 * Client: ALL
 *
 * css released under Creative Commons License - http://creativecommons.org/licenses/by-nc-sa/2.0/
 *
 * Copyright Kimera Team (c) 2006
 * All associated graphics Copyright Kimera Team (c) 2006 
 *
 * You may not reproduce it elsewhere without the prior written permission of the author.
 * However, feel free to study the code and use techniques you learn from it elsewhere.
*/

/*--- [general attributes] ---*/
body{
font-family: "sylfaen";
font-size: 13px;
text-align: left;
width: 900px;
color: #f16532;
//color: #333333;
margin: 0 auto;
}





/*--- [links attributes] ---*/
a, a:link, a:visited
{
font-size: 14px;
color: #078000;
text-decoration: none;
}

a:hover, a:active
{
font-size: 14px;
color: #B0DCA4;
text-decoration: none;
}






/* Formattazione tabelle ed altro */
#titlez
{
position: relative;
top: 60px;
left: 570px;
font-family: sylfaen;
font-size: 24px;
font-weight: bold;
color: #F52D6E;
}

#tabletitles
{
background-color: #FC956A;
color: #079F00;
font-weight: bold;
}

#submitt
{
border: 1px solid #6BB651;
position: relative;
left: 5px;
}

#txtbox
{
border: 1px solid #6BB651;
position: relative;
height: 300px;
}



/*--- [intro attributes] ---*/
.intro
{
vertical-align: middle;
text-align: center;
}

#linkintro
{
font-size: 30px;
font-family: helvetica;
font-weight: bold;
position: relative;
bottom: 150px;
vertical-align: middle;
text-align: center;
}

#linkintrocopy
{
color: #FFFFFF;
font-size: 10px;
font-family: arial;
position: relative;
bottom: 120px;
vertical-align: middle;
text-align: center;
}

#linkintrocopya
{
color: #FFFFFF;
font-size: 10px;
font-family: silkscreen;
}




/*--- [layout attributes] ---*/
.container
{
margin: 10px 10px 10px 10px;
}

.navigation
{
padding: 10px 10px 10px 10px;
width: 80px;
height: 140px;
float: left;
}

.navigation img
{
margin: 15px 0px 0px 0px;
}

.content
{
padding: 10px 0px 10px 10px;
border: 1px dotted #000000;
}

.header
{
width: 573px;
height: 407px;
}

.news
{
margin: 197px 7px 7px 18px;
padding: 7px 7px 7px 7px;
width: 340px;
height: 160px;
}

.news td
{
padding: 0px 0px 7px 0px;
}

#head
{
padding: 0px 0px 0px 3px;
}

.pages
{
margin: 0px 7px 7px 18px;
padding: 20px 7px 7px 7px;
width: 340px;
}

.pages td
{
padding: 0px 0px 7px 0px;
}

.pageread
{
margin: 197px 7px 7px 18px;
padding: 7px 7px 7px 7px;
width: 340px;
height: 160px;
}

.footer
{
clear: both;
text-align: center;
}

.heads
{
height: 155px;
}





/*--- [graphic attributes] ---*/
.container
{
}

.navigation
{
}

.navigation h2
{
font-size: 14px;
color: #6C827F;
}

.content
{
text-align: center;
}

.header
{
border: 1px solid #FFFFFF;
background-image: url(../images/header.jpg);
background-repeat: no-repeat;
}

.news
{
line-height: 7.0pt;
background-color: #FFFFFF;
color: #6C827F;
font-size: 10px;
overflow: hidden;
/*overflow: scroll;*/
}

#head
{
font-weight: bold;
}

.pages
{
line-height: 7.0pt;
background-color: #FFFFFF;
color: #747FF7;
font-size: 10px;
overflow: hidden;
/*overflow: scroll;*/
}

.pageread
{
line-height: 7.0pt;
background-color: #FFFFFF;
color: #6C827F;
font-size: 10px;
}

.heads
{
background-color: #EDEEF2;
background-image: url(../images/adminheader.jpg);
background-repeat: no-repeat;
}






/* This file contains the CSS data for the editor UI of TinyMCE instances */

.mceToolbarTop a, .mceToolbarTop a:visited, .mceToolbarTop a:hover, .mceToolbarBottom a, .mceToolbarBottom a:visited, .mceToolbarBottom a:hover {
	border: 0px; margin: 0px; padding: 0px; background: transparent;
}

.mceButtonNormal, .mceButtonOver, .mceButtonDown, .mceSeparator, .mceSeparatorLine, .mceButtonDisabled, .mceButtonSelected {
	border: 0px; margin: 0px; padding: 0px; background: transparent;
	margin-top: 1px;
	margin-left: 1px;
}

.mceButtonNormal {
	border-top: 1px solid;
	border-left: 1px solid;
	border-bottom: 1px solid;
	border-right: 1px solid;
	border-color: #F0F0EE;
	cursor: arrow;
}

.mceButtonOver {
	border: 1px solid #0A246A;
	cursor: arrow;
	background-color: #B6BDD2;
}

.mceButtonDown {
	cursor: arrow;
	border: 1px solid #0A246A;
	background-color: #8592B5;
}

.mceButtonSelected {
	border: 1px solid;
	border-color: #C0C0BB;
	cursor: arrow;
}

.mceButtonDisabled {
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=30);
	-moz-opacity:0.3;
	opacity: 0.3;
	border-top: 1px solid;
	border-left: 1px solid;
	border-bottom: 1px solid;
	border-right: 1px solid;
	border-color: #F0F0EE;
	cursor: arrow;
}

.mceSeparator {
	border-top: 1px solid buttonhighlight;
	border-left: 1px solid buttonhighlight;
	border-bottom: 1px solid buttonshadow;
	border-right: 1px solid buttonshadow;
	margin-right: 2px;
	margin-left: 2px;
}

.mceSeparatorLine {
	margin:2px;
	margin-left: 4px;
	background-color: #F0F0EE;
	border-top: 1px solid buttonshadow;
	border-left: 1px solid buttonshadow;
	border-bottom: 1px solid buttonhighlight;
	border-right: 1px solid buttonhighlight;
	width: 0px;
	height: 15px;
}

.mceSelectList {
	font-family: "MS Sans Serif";
	font-size: 7pt;
	font-weight: normal;
	margin-top: 3px;
	padding: 0px;
	display: inline;
	vertical-align: top;
	background-color: #F0F0EE
}

.mceLabel, .mceLabelDisabled {
	font-family: 'MS Sans Serif', sans-serif, Verdana, Arial;
	font-size: 9pt;
}

.mceLabel {
	color: #000000;
}

.mceLabelDisabled {
	cursor: text;
	color: #999999;
}

.mceEditor {
	background: #F0F0EE;
	border: 1px solid #cccccc;
	padding: 0px;
	margin: 0px;
}

.mceEditorArea {
	font-family: 'MS Sans Serif', sans-serif, Verdana, Arial;
	background: #FFFFFF;
	padding: 0px;
	margin: 0px;
}

.mceToolbarTop, .mceToolbarBottom {
	background: #F0F0EE;
	line-height: 1px;
	font-size: 1px;
}

.mceToolbarTop {
	border-bottom: 1px solid #cccccc;
}

.mceToolbarBottom {
	border-top: 1px solid #cccccc;
}

.mceStatusbarTop, .mceStatusbarBottom, .mceStatusbar {
	height: 20px;
}

.mceStatusbarTop .mceStatusbarPathText, .mceStatusbarBottom .mceStatusbarPathText, .mceStatusbar .mceStatusbarPathText {
	font-family: 'MS Sans Serif', sans-serif, Verdana, Arial;
	font-size: 9pt;
	padding: 2px;
	line-height: 16px;
	overflow: visible;
}

.mceStatusbarTop {
	border-bottom: 1px solid #cccccc;
}

.mceStatusbarBottom {
	border-top: 1px solid #cccccc;
}

.mceStatusbar {
	border-bottom: 1px solid #cccccc;
}

.mcePathItem, .mcePathItem:link, .mcePathItem:visited, .mcePathItem:hover {
	text-decoration: none;
	font-family: 'MS Sans Serif', sans-serif, Verdana, Arial;
	font-size: 9pt;
	color: #000000;
}

.mcePathItem:hover {
	text-decoration: underline;
}

.mceStatusbarPathText {
	float: left;
}

.mceStatusbarResize {
	float: right;
	background-image: url('../images/statusbar_resize.gif');
	background-repeat: no-repeat;
	width: 11px;
	height: 20px;
	cursor: se-resize;
}

.mceResizeBox {
	width: 10px;
	height: 10px;
	display: none;
	border: 1px dotted gray;
	margin: 0px;
	padding: 0px;
}

#gallery
{
border: none;
}