/* $Id: style.css,v 0.0.0.1 07/06/2006 02:02:07 mdb Exp $
 * $Author: mdb $
 *
 * www.be-you.org Stylesheet "default"
 * Client: ALL
 *
 * css released under Creative Commons License - http://creativecommons.org/licenses/by-nc-sa/2.0/
 *
 * Copyright Kimera Team (c) 2006
 * All associated graphics Copyright Kimera Team (c) 2006 
 *
 * You may not reproduce it elsewhere without the prior written permission of the author.
 * However, feel free to study the code and use techniques you learn from it elsewhere.
*/

/*--- [general attributes] ---*/
body{
font-family: "sylfaen";
font-size: 13px;
text-align: left;
width: 720px;
color: #333333;
margin: 0 auto;
}

/*--- [links attributes] ---*/
a, a:link, a:visited
{
font-size: 14px;
color: #F52D6E;
text-decoration: none;
}

a:hover, a:active
{
font-size: 14px;
color: #FF60AA;
text-decoration: none;
}

/*--- [intro attributes] ---*/
.intro
{
vertical-align: middle;
text-align: center;
}

#linkintro
{
font-size: 30px;
font-family: helvetica;
font-weight: bold;
position: relative;
bottom: 150px;
vertical-align: middle;
text-align: center;
}

#linkintrocopy
{
color: #FFFFFF;
font-size: 10px;
font-family: arial;
position: relative;
bottom: 120px;
vertical-align: middle;
text-align: center;
}

#linkintrocopya
{
color: #FFFFFF;
font-size: 10px;
font-family: silkscreen;
}

/*--- [layout attributes] ---*/
.container
{
margin: 10px 10px 10px 10px;
}

.navigation
{
padding: 10px 0px 10px 0px;
position: absolute;
width: 120px;
}

.content
{
float: right;
}

.header
{
width: 573px;
height: 407px;
}

.news
{
margin: 197px 10px 10px 18px;
padding: 20px 10px 10px 10px;
width: 340px;
height: 160px;
}

.pages
{
margin: 0px 10px 10px 18px;
padding: 20px 10px 10px 10px;
width: 340px;
}

.footer
{
clear: both;
}


/*--- [graphic attributes] ---*/
.container
{

}

.navigation
{
}

.navigation h2
{
font-size: 14px;
color: #6C827F;
}

.content
{
}

.header
{
border: 1px solid #FFFFFF;
background-image: url(../images/header.jpg);
background-repeat: no-repeat;
}

.news
{
background-color: #FFFFFF;
color: #6C827F;
font-size: 10px;
}

.pages
{
color: #747FF7;
font-size: 10px;
}

.footer
{
text-align: center;
}
