/* $Id: style.css,v 0.0.0.1 07/06/2006 02:02:07 mdb Exp $
 * $Author: mdb $
 *
 * www.be-you.org Stylesheet "default"
 * Client: ALL
 *
 * css released under Creative Commons License - http://creativecommons.org/licenses/by-nc-sa/2.0/
 *
 * Copyright Kimera Team (c) 2006
 * All associated graphics Copyright Kimera Team (c) 2006 
 *
 * You may not reproduce it elsewhere without the prior written permission of the author.
 * However, feel free to study the code and use techniques you learn from it elsewhere.
*/

/*--- [general attributes] ---*/
body{
font-family: "sylfaen";
font-size: 13px;
text-align: left;
color: #333333;
}

/*--- [links attributes] ---*/
a, a:link, a:visited
{
font-size: 14px;
color: #62BA49;
text-decoration: none;
}

a:hover, a:active
{
font-size: 14px;
color: #B0DCA4;
text-decoration: none;
}

/*--- [intro attributes] ---*/
.intro
{
vertical-align: middle;
text-align: center;
}

#linkintro
{
font-size: 30px;
font-family: helvetica;
font-weight: bold;
position: relative;
bottom: 150px;
vertical-align: middle;
text-align: center;
}

#linkintrocopy
{
color: #FFFFFF;
font-size: 10px;
font-family: arial;
position: relative;
bottom: 120px;
vertical-align: middle;
text-align: center;
}

#linkintrocopya
{
color: #FFFFFF;
font-size: 10px;
font-family: silkscreen;
}

/*--- [layout attributes] ---*/
.container
{
margin: 0 auto;
width: 720px;
margin: 10px 10px 10px 10px;
}

.navigation
{
padding: 10px 0px 10px 0px;
position: absolute;
width: 120px;
}

.navigation img
{
margin: 15px 0px 0px 0px;
}

.content
{
float: right;
}

.header
{
width: 573px;
height: 407px;
}

.news
{
margin: 197px 7px 7px 18px;
padding: 7px 7px 7px 7px;
width: 340px;
height: 160px;
}

.news td
{
padding: 0px 0px 7px 0px;
}

.head
{
padding: 0px 0px 0px 3px;
}

.pages
{
margin: 0px 7px 7px 18px;
padding: 20px 7px 7px 7px;
width: 340px;
}

.pages td
{
padding: 0px 0px 7px 0px;
}

.pageread
{
margin: 197px 7px 7px 18px;
padding: 7px 7px 7px 7px;
width: 340px;
height: 160px;
}

.footer
{
clear: both;
}


/*--- [graphic attributes] ---*/
.container
{

}

.navigation
{
}

.partner
{
position: relative;
top: 30px;
text-align: left;
}

#partitle
{
color: #B0DCA4;
text-align: left;
font-size: 12px;
margin: -10px;
}


.navigation h2
{
font-size: 14px;
color: #444444;
padding: 0px 0px 0px 0px;
margin: 20px 0px -10px 0px;
}

.header
{
border: 1px solid #FFFFFF;
background-image: url(../images/header.jpg);
background-repeat: no-repeat;
}

.news
{
line-height: 8.5pt;
background-color: #FFFFFF;
color: #6C827F;
font-size: 12px;
/*overflow: hidden;*/
/*overflow: scroll;*/
}

.head
{
font-weight: bold;
}

.pages
{
line-height: 8.5pt;
background-color: #FFFFFF;
color: #747FF7;
font-size: 12px;
overflow: hidden;
/*overflow: scroll;*/
}

.pageread
{
line-height: 8.5pt;
background-color: #FFFFFF;
color: #6C827F;
font-size: 10px;
overflow: scroll;
}

.footer
{
font-size: 8px;
text-align: center;
}

.footer a
{
font-size: 8px;
text-align: center;
}

#gallery
{
border: none;
}

.artists h2
{
text-align: center;
}

.artists img
{
border: none;
}

.artists td
{
border: 1px dotted #62BA49;
padding: 10px 10px 10px 10px;
margin: 0px 0px 0px 0px;
}